body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
}
.bigbox{
    height: 550px;
    width: 350px;
    background-color: white;
    border-radius: 13px;
    margin-top: 150px;
    margin-bottom: 200px;
}
.image img{
    width: 90%;
    margin-top: 20px;
    margin-left: 19px; 
    border-radius: 13px;
}
.note{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.note h2{
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
}
.note p{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}